table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid black;
    padding: 2px;
    user-select: none;
  }
  
  td {
    background-color:white;
    padding: 5px
  }
  
  .reset{
    background-color:violet;
    color:black;a
    padding:20px;
    font-size:16px;
    margin-top:5px;
  }
  
  .start{
    background-color:lightblue;
    color:black;
    padding:20px;
    font-size:16px;
    margin-top:5px;
  }